[submodule "协同管理子模块/git_collab_child_usecase"]
	path = 协同管理子模块/git_collab_child_usecase
	url = https://github.com/kristenqin/git_collab_child_usecase.git
[submodule "协同管理子模块/git_collab_parent_usecase"]
	path = 协同管理子模块/git_collab_parent_usecase
	url = https://github.com/kristenqin/git_collab_parent_usecase.git
